body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-link:hover .gallery-image {
  transform: scale(0.96); /* slight scale down */
}
.sl-overlay {
  background: #2E2F42CC !important;
}
